<div class="date"><button>Prev</button>{{date | date}}<button>Next</button></div>
<div id="map">
    <div class="row1" ng-click="go('/site/20')">20</div><div class="row1" ng-click="go('/site/19')">19</div><div class="row1" ng-click="go('/site/18')">18</div><div class="row1"ng-click="go('/site/17')">17</div><div class="row1" ng-click="go('/site/16')">16</div><div class="row1" ng-click="go('/site/15')">15</div><div class="row1" ng-click="go('/site/14')">14</div><div class="row1" ng-click="go('/site/13')">13</div><div class="row1" ng-click="go('/site/12')">12</div><div class="row1" ng-click="go('/site/11')">11</div>
    <br>
    <div class="row2">xx</div><div class="row2">xx</div><div class="row2">xx</div><div class="row2">xx</div><div class="row2">xx</div>
</div>
