<div class="container">

    <div class="row">
        <div class="col-md-6">
            <h3><span class="seasonal">Seasonal</span><span class="space"></span><span class="monthly">Monthly</span><span class="space"></span><span class="weekly">Weekly</span><span class="space"></span><span class="holiday">Holiday</span><span class="space"></span><span class="nightly">Nightly</span></h3>
            <table class="table-map">
                <tbody>
                <tr class="top-row">
                    <td></td><td id="site20" ng-click="go('/site/20')">20</td><td id="site19" ng-click="go('/site/19')">19</td><td id="site18" ng-click="go('/site/18')">18</td><td id="site17" ng-click="go('/site/17')">17</td><td id="site16" ng-click="go('/site/16')">16</td><td id="site15" ng-click="go('/site/15')">15</td><td id="site14" ng-click="go('/site/14')">14</td><td id="site13" ng-click="go('/site/13')">13</td><td id="site12" ng-click="go('/site/12')">12</td><td id="site11" ng-click="go('/site/11')">11</td><td></td>
                </tr>
                <tr class="brown">
                    <td>0</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                </tr>
                <tr>
                    <td class="brown"></td><td></td><td id="site86" ng-click="go('/site/86')">86</td><td class="brown"></td><td></td><td id="site60" ng-click="go('/site/60')">60</td><td class="brown"></td><td id="site47" ng-click="go('/site/47')">47</td><td id="site32" ng-click="go('/site/32')">32</td><td></td><td></td><td class="brown"></td>
                </tr>
                <tr>
                    <td class="brown"></td><td id="site99" ng-click="go('/site/99')">99</td><td></td><td class="brown"></td><td id="site73" ng-click="go('/site/73')">73</td><td></td><td class="brown"></td><td id="site46" ng-click="go('/site/46')">46</td><td id="site31" ng-click="go('/site/31')">31</td><td></td><td></td><td class="brown"></td>
                </tr>
                <tr>
                    <td class="brown"></td><td></td><td id="site85" ng-click="go('/site/85')">85</td><td class="brown"></td><td></td><td id="site59" ng-click="go('/site/59')">59</td><td class="brown"></td><td>45</td><td></td><td></td><td></td><td class="brown"></td>
                </tr>
                <tr>
                    <td class="brown"></td><td id="site98" ng-click="go('/site/98')">98</td><td></td><td class="brown"></td><td id="site72" ng-click="go('/site/72')">72</td><td></td><td class="brown"></td><td>44</td><td class="blue"></td><td></td><td></td><td class="brown"></td>
                </tr>
                <tr>
                    <td class="brown"></td><td></td><td id="site84" ng-click="go('/site/84')">84</td><td class="brown"></td><td></td><td id="site58" ng-click="go('/site/58')">58</td><td class="brown"></td><td>43</td><td class="blue"></td><td></td><td></td><td class="brown"></td>
                </tr>
                <tr>
                    <td class="brown"></td><td id="site97" ng-click="go('/site/97')">97</td><td></td><td class="brown"></td><td id="site71" ng-click="go('/site/71')">71</td><td></td><td class="brown"></td><td class="brown"></td><td class="brown"></td><td class="brown"></td><td></td><td class="brown"></td>
                </tr>
                <tr>
                    <td class="brown"></td><td></td><td id="site83" ng-click="go('/site/83')">83</td><td class="brown"></td><td></td><td id="site57" ng-click="go('/site/57')">57</td><td class="brown"></td><td></td><td id="site30" ng-click="go('/site/30')">30</td><td class="brown"></td><td id="site10" ng-click="go('/site/10')">10</td><td class="brown"></td>
                </tr>
                <tr>
                    <td class="brown"></td><td id="site96" ng-click="go('/site/96')">96</td><td></td><td class="brown"></td><td id="site70" ng-click="go('/site/70')">70</td><td></td><td class="brown"></td><td id="site42" ng-click="go('/site/42')">42</td><td></td><td class="brown"></td><td></td><td class="brown"></td>
                </tr>
                <tr>
                    <td class="brown"></td><td></td><td id="site82" ng-click="go('/site/82')">82</td><td class="brown"></td><td></td><td id="site56" ng-click="go('/site/56')">56</td><td class="brown"></td><td></td><td id="site29" ng-click="go('/site/29')">29</td><td class="brown"></td><td id="site9" ng-click="go('/site/9')">9</td><td class="brown"></td>
                </tr>
                <tr>
                    <td class="brown"></td><td id="site95" ng-click="go('/site/95')">95</td><td></td><td class="brown"></td><td id="site69" ng-click="go('/site/69')">69</td><td></td><td class="brown"></td><td id="site41" ng-click="go('/site/41')">41</td><td></td><td class="brown"></td><td></td><td class="brown"></td>
                </tr>
                <tr>
                    <td class="brown"></td><td></td><td id="site81" ng-click="go('/site/81')">81</td><td class="brown"></td><td></td><td id="site55" ng-click="go('/site/55')">55</td><td class="brown"></td><td></td><td id="site28" ng-click="go('/site/28')">28</td><td class="brown"></td><td id="site8" ng-click="go('/site/8')">8</td><td class="brown"></td>
                </tr>
                <tr>
                    <td class="brown"></td><td id="site94" ng-click="go('/site/94')">94</td><td></td><td class="brown"></td><td id="site68" ng-click="go('/site/68')">68</td><td></td><td class="brown"></td><td id="site40" ng-click="go('/site/40')">40</td><td></td><td class="brown"></td><td></td><td class="brown"></td>
                </tr>
                <tr>
                    <td class="brown"></td><td></td><td id="site80" ng-click="go('/site/80')">80</td><td class="brown"></td><td></td><td id="site54" ng-click="go('/site/54')">54</td><td class="brown"></td><td></td><td id="site27" ng-click="go('/site/27')">27</td><td class="brown"></td><td id="site7" ng-click="go('/site/7')">7</td><td class="brown"></td>
                </tr>
                <tr>
                    <td class="brown"></td><td id="site93" ng-click="go('/site/93')">93</td><td></td><td class="brown"></td><td id="site67" ng-click="go('/site/67')">67</td><td></td><td class="brown"></td><td id="site39" ng-click="go('/site/39')">39</td><td></td><td class="brown"></td><td></td><td class="brown"></td>
                </tr>
                <tr>
                    <td class="brown"></td><td></td><td id="site79" ng-click="go('/site/79')">79</td><td class="brown"></td><td></td><td id="site53" ng-click="go('/site/53')">53</td><td class="brown"></td><td></td><td id="site26" ng-click="go('/site/26')">26</td><td class="brown"></td><td id="site6" ng-click="go('/site/6')">6</td><td class="brown"></td>
                </tr>
                <tr>
                    <td class="brown"></td><td id="site92" ng-click="go('/site/92')">92</td><td></td><td class="brown"></td><td id="site66" ng-click="go('/site/66')">66</td><td></td><td class="brown"></td><td id="site38" ng-click="go('/site/38')">38</td><td></td><td class="brown"></td><td></td><td class="brown"></td>
                </tr>
                <tr>
                    <td class="brown"></td><td></td><td id="site78" ng-click="go('/site/78')">78</td><td class="brown"></td><td></td><td id="site52" ng-click="go('/site/52')">52</td><td class="brown"></td><td></td><td id="site25" ng-click="go('/site/25')">25</td><td class="brown"></td><td id="site5" ng-click="go('/site/5')">5</td><td class="brown"></td>
                </tr>
                <tr>
                    <td class="brown"></td><td id="site91" ng-click="go('/site/91')">91</td><td></td><td class="brown"></td><td id="site65" ng-click="go('/site/65')">65</td><td></td><td class="brown"></td><td id="site37" ng-click="go('/site/37')">37</td><td></td><td class="brown"></td><td></td><td class="brown"></td>
                </tr>
                <tr>
                    <td class="brown"></td><td></td><td id="site77" ng-click="go('/site/77')">77</td><td class="brown"></td><td></td><td id="site51" ng-click="go('/site/51')">51</td><td class="brown"></td><td></td><td id="site24" ng-click="go('/site/24')">24</td><td class="brown"></td><td id="site4" ng-click="go('/site/4')">4</td><td class="brown"></td>
                </tr>
                <tr>
                    <td class="brown"></td><td id="site90" ng-click="go('/site/90')">90</td><td></td><td class="brown"></td><td id="site64" ng-click="go('/site/64')">64</td><td></td><td class="brown"></td><td id="site36" ng-click="go('/site/36')">36</td><td></td><td class="brown"></td><td></td><td class="brown"></td>
                </tr>
                <tr>
                    <td class="brown"></td><td></td><td id="site76" ng-click="go('/site/76')">76</td><td class="brown"></td><td></td><td id="site50" ng-click="go('/site/50')">50</td><td class="brown"></td><td></td><td id="site23" ng-click="go('/site/23')">23</td><td class="brown"></td><td id="site3" ng-click="go('/site/3')">3</td><td class="brown"></td>
                </tr>
                <tr>
                    <td class="brown"></td><td id="site89" ng-click="go('/site/89')">89</td><td></td><td class="brown"></td><td id="site63" ng-click="go('/site/63')">63</td><td></td><td class="brown"></td><td id="site35" ng-click="go('/site/35')">35</td><td></td><td class="brown"></td><td></td><td class="brown"></td>
                </tr>
                <tr>
                    <td class="brown"></td><td></td><td id="site75" ng-click="go('/site/75')">75</td><td class="brown"></td><td></td><td id="site49" ng-click="go('/site/49')">49</td><td class="brown"></td><td></td><td id="site22" ng-click="go('/site/22')">22</td><td class="brown"></td><td id="site2" ng-click="go('/site/2')">2</td><td class="brown"></td>
                </tr>
                <tr>
                    <td class="brown"></td><td id="site88" ng-click="go('/site/88')">88</td><td></td><td class="brown"></td><td id="site62" ng-click="go('/site/62')">62</td><td></td><td class="brown"></td><td id="site34" ng-click="go('/site/34')">34</td><td></td><td class="brown"></td><td></td><td class="brown"></td>
                </tr>
                <tr>
                    <td class="brown"></td><td></td><td id="site74" ng-click="go('/site/74')">74</td><td class="brown"></td><td></td><td id="site48" ng-click="go('/site/48')">48</td><td class="brown"></td><td></td><td id="site21" ng-click="go('/site/21')">21</td><td class="brown"></td><td id="site1" ng-click="go('/site/1')">1</td><td class="brown"></td>
                </tr>
                <tr>
                    <td class="brown"></td><td id="site87" ng-click="go('/site/87')">87</td><td></td><td class="brown"></td><td id="site61" ng-click="go('/site/61')">61</td><td></td><td class="brown"></td><td id="site33" ng-click="go('/site/33')">33</td><td></td><td class="brown"></td><td></td><td class="brown"></td>
                </tr>
                <tr class="brown">
                    <td ng-click="open('lg')"></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td>0</td>
                </tr>
                </tbody>
            </table>
        </div>


        <div class="col-md-6">
            <span class="map-date"><h4>{{date | date:'fullDate'}}</h4></span><br>
        </div>


        <div class="col-md-6" style="display:inline-block; min-height:290px;">
            <uib-datepicker ng-model="date" ng-change="getMap()" class="well well-sm" datepicker-options="inlineOptions"></uib-datepicker>
            <!--<input type="date" ng-model="date" ng-change="getMap()">-->
        </div>
        <div class="col-md-6" class="container-fluid typeahead-demo">
            <input type="text" ng-model="selectedName" typeahead-on-select="getInfo()" uib-typeahead="person.customer_id as person.last_name + ', ' + person.first_name for person in getNames | filter:$viewValue | limitTo:8" class="form-control" placeholder="type first or last name for customer info...">
        </div>
        <div class="col-md-6">
            <table class="table"><thead><tr><th>Last</th><th>First</th><th>Site</th><th>Check IN</th><th>Check OUT</th><th>Notes</th></tr></thead><tbody ng-repeat="data in viewData"><tr><td>{{data.last_name}}</td><td>{{data.first_name}}</td><td>{{data.site_number}}</td><td>{{data.check_in | date}}</td><td>{{data.check_out | date}}</td><td>{{data.notes}}</td></tr></tbody></table>
        </div>
    </div>


</div>