<div class="date"><button ng-click="prevDay()">Prev</button>{{date | date}}<button ng-click="nextDay()">Next</button></div>
<div id="map">
    <site class="row1" ng-click="go('/site/20')" id="site20">20</site><site class="row1" ng-click="go('/site/19')" id="site19">19</site><site class="row1" ng-click="go('/site/18')" id="site18">18</site><site class="row1"ng-click="go('/site/17')" id="site17">17</site><site class="row1" ng-click="go('/site/16')" id="site16">16</site><site class="row1" ng-click="go('/site/15')" id="site15">15</site><site class="row1" ng-click="go('/site/14')" id="site14">14</site><site class="row1" ng-click="go('/site/13')" id="site13">13</site><site class="row1" ng-click="go('/site/12')" id="site12">12</site><site class="row1" ng-click="go('/site/11')" id="site11">11</site>
    <br>
    <!--<div class="row2">xx</div><div class="row2">xx</div><div class="row2">xx</div><div class="row2">xx</div><div class="row2">xx</div>-->
</div>
<!--<site>20</site><site>19</site>-->
<div  id="home-view" class="name-box">
    <select ng-model="selectedName" ng-options="person.customer_id as person.last_name + ', ' + person.first_name for person in getNames" ng-change="getInfo()">
        <option value="">Select Person</option>
    </select>
    <div ng-repeat="data in viewData">
        <table>
            <tr><th>Last</th><th>First</th><th>Site</th><th>Check IN</th><th>Check OUT</th><th>Notes</th></tr>
            <tr><td>{{data.last_name}}</td><td>{{data.first_name}}</td><td>{{data.site_number}}</td><td>{{data.check_in | date}}</td><td>{{data.check_out | date}}</td><td>{{data.notes}}</td></tr>
        </table>
        <!--<p>{{data.last_name}} {{data.first_name}} {{data.site_number}} {{data.check_in | date}} {{data.check_out | date}} {{data.notes}}</p>-->
    </div>
</div>
<div class="cal">
    <form>
        <input type="date" ng-model="date" ng-change="getMap()">
    </form>
</div>