<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <ul class="nav navbar-nav"><li><a href="#home">Home</a></li></ul>
            <ul class="nav navbar-nav"><li><a href="#login">Logout</a></li></ul>

        </div>
    </div>



</nav>


<!--<div class="container">-->

    <!--<div class="row" class="nav">-->
        <!--<div class="twelve columns"><ul><li><a href="#home">Home</a></li></ul></div>-->
        <!--<div class="twelve columns"><ul><li><a href="#login">Logout</a></li></ul></div>-->

    <!--</div>-->

<!--</div>-->