<section id="left">
    <h2 ng-model="site_number">Site # {{site_number}}</h2>
    <form name="siteForm">
        <label>
            <input type="radio" ng-model="site_class" value="seasonal" ng-change="setSeasonal()">
            Seasonal
        </label><br/>
        <label>
            <input type="radio" ng-model="site_class" value="monthly" ng-change="setMonthly()">
            Monthly
        </label><br/>
        <label>
            <input type="radio" ng-model="site_class" value="weekly" ng-change="setWeekly()">
            Weekly
        </label><br/>
        <label>
            <input type="radio" ng-model="site_class" value="holiday" ng-change="setHoliday()">
            Holiday
        </label><br/>
        <label>
            <input type="radio" ng-model="site_class" value="nightly" ng-change="setNightly()">
            Nightly
        </label><br/>
    </form>
</section>

<section id="middle">
    <form>
        <label for="check_in">Check IN:</label><input type="date" ng-model="check_in">
        <br>
        <label for="check_out">Check OUT:</label><input type="date" ng-model="check_out">
    </form>
    <select ng-model="selectedName" ng-options="person.customer_id as person.last_name + ', ' + person.first_name for person in getNames" ng-change="existingCust()">
        <option value="">Select Person</option>
    </select>

    <form>
        <input type="text" ng-model="first_name" placeholder="First Name"><input type="text" ng-model="last_name" placeholder="Last Name">
        <br>
        <input type="tel" ng-model="phone" placeholder="Phone Number"><input type="email" ng-model="email" placeholder="e-mail">
    </form>
    <form>
        <input type="text" ng-model="street_address" placeholder="Street Address">
        <br>
        <input type="text" ng-model="city" placeholder="City">
        <select ng-model="state">
            <option value="AL">Alabama</option>
            <option value="AK">Alaska</option>
            <option value="AZ">Arizona</option>
            <option value="AR">Arkansas</option>
            <option value="CA">California</option>
            <option value="CO">Colorado</option>
            <option value="CT">Connecticut</option>
            <option value="DE">Delaware</option>
            <option value="DC">District Of Columbia</option>
            <option value="FL">Florida</option>
            <option value="GA">Georgia</option>
            <option value="HI">Hawaii</option>
            <option value="ID">Idaho</option>
            <option value="IL">Illinois</option>
            <option value="IN">Indiana</option>
            <option value="IA">Iowa</option>
            <option value="KS">Kansas</option>
            <option value="KY">Kentucky</option>
            <option value="LA">Louisiana</option>
            <option value="ME">Maine</option>
            <option value="MD">Maryland</option>
            <option value="MA">Massachusetts</option>
            <option value="MI">Michigan</option>
            <option value="MN">Minnesota</option>
            <option value="MS">Mississippi</option>
            <option value="MO">Missouri</option>
            <option value="MT">Montana</option>
            <option value="NE">Nebraska</option>
            <option value="NV">Nevada</option>
            <option value="NH">New Hampshire</option>
            <option value="NJ">New Jersey</option>
            <option value="NM">New Mexico</option>
            <option value="NY">New York</option>
            <option value="NC">North Carolina</option>
            <option value="ND">North Dakota</option>
            <option value="OH">Ohio</option>
            <option value="OK">Oklahoma</option>
            <option value="OR">Oregon</option>
            <option value="PA">Pennsylvania</option>
            <option value="RI">Rhode Island</option>
            <option value="SC">South Carolina</option>
            <option value="SD">South Dakota</option>
            <option value="TN">Tennessee</option>
            <option value="TX">Texas</option>
            <option value="UT">Utah</option>
            <option value="VT">Vermont</option>
            <option value="VA">Virginia</option>
            <option value="WA">Washington</option>
            <option value="WV">West Virginia</option>
            <option value="WI">Wisconsin</option>
            <option value="WY">Wyoming</option>
        </select>
        <!--<input type="text" ng-model="state" placeholder="State">-->
        <input type="text" ng-model="zip_code" placeholder="Zip Code">
    </form>
</section>

<section id="right">
    <input type="text" ng-model="people_num" placeholder="Number of People"><input type="text" ng-model="rate" placeholder="Rate">
    <br>
    <input type="text" ng-model="pet_num" placeholder="Number of Pets"><input type="text" ng-model="tax" placeholder="Tax">
    <br>
    <input type="text" ng-model="hold" placeholder="Hold">
    <br>
    <input type="text" ng-model="notes" placeholder="Notes">
    <br>
    <button ng-click="postForm()">Save New</button><button ng-click="updateForm()">Update Existing</button><button ng-click="cancelRes()">Cancel Reservation</button>
    <!--{{editForm.first_name}}-->
</section>

<div id="bottom" ng-repeat="site in siteData">
    <p><button ng-click="editRes($index)">View/Edit</button> {{site.last_name}} {{site.first_name}} {{site.check_in | date}} {{site.check_out | date}} {{site.notes}}</p>

</div>