.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.nav li {
    float: left;
}

.nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav li a:hover {
    background-color: #111;
}


.row1 {
    display: inline;
    padding: 10px;
    border: 1px solid black;
}

/*.row2 {*/
    /*display: inline;*/
    /*padding: 20px;*/
    /*border: 1px solid black;*/
/*}*/

/*#left {*/
    /*width: 150px;*/
    /*float: left;*/
    /*padding: 5px 15px;*/
/*}*/

/*#middle {*/
    /*width: 294px;*/
    /*float: left;*/
    /*padding: 5px 15px;*/
    /*margin-top: 30px;*/
/*}*/

/*#right {*/
    /*width: 270px;*/
    /*float: left;*/
    /*padding: 5px 15px;*/
    /*margin-top: 30px;*/
/*}*/

/*#bottom {*/
    /*clear: both;*/
    /*vertical-align: bottom;*/
    /*width: 100%;*/
/*}*/

/*.date {*/
    /*margin: 20px;*/
/*}*/

/*.name-box {*/
    /*float: right;*/
/*}*/

/*#home-view {*/
    /*width: 450px;*/
    /*height: 200px;*/
    /*border: 1px solid black;*/
/*}*/

.booked {
    background-color: red;
}

/*.cal {*/
    /*float: right;*/
/*}*/
