nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #111;
}

.row1 {
    display: inline;
    padding: 10px;
    border: 1px solid black;
}

.booked {
    background-color: red;
}

/*.full button span {*/
    /*background-color: limegreen;*/
    /*border-radius: 12px;*/
    /*color: black;*/
/*}*/
/*.partially button span {*/
    /*background-color: orange;*/
    /*border-radius: 12px;*/
    /*color: black;*/
/*}*/

/*.inputdemoBasicUsage .md-datepicker-button {*/
    /*width: 36px; }*/

.radioButtondemoBasicUsage body {
    padding: 20px; }

.radioButtondemoBasicUsage hr {
    margin-left: -20px;
    opacity: 0.3; }

.radioButtondemoBasicUsage md-radio-group {
    width: 150px; }

.radioButtondemoBasicUsage p:last-child {
    padding-bottom: 50px; }

.radioButtondemoBasicUsage [ng-controller] {
    padding-left: 20px; }

.radioButtondemoBasicUsage .radioValue {
    margin-left: 5px;
    color: #0f9d58;
    font-weight: bold;
    padding: 5px; }

.radioButtondemoBasicUsage md-icon {
    margin: 20px;
    margin-top: 0;
    width: 128px;
    height: 128px; }

.radioButtondemoBasicUsage .ipsum {
    color: saddlebrown;
    font-size: 0.9em; }




